.heroes-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table-header {
    background-color: #475b8e;
    color: white;
    padding: 10px;
    text-align: left;
}

.hero-row:nth-child(even) {
    background-color: #f9f9f9;
}

.hero-row:hover {
    background-color: #d1d1d1;
}

.hero-name,
.hero-alignment,
.hero-role {
    padding: 10px;
    text-align: left;
}

.light-alignment {
    background-color: #e3f2fd;
    color: #0d47a1;
}

.dark-alignment {
    background-color: #ffebee;
    color: #b71c1c;
}

.edit-link,
.delete-link {
    color: #007BFF;
    text-decoration: none;
    margin-right: 10px;
}

.edit-link:hover,
.delete-link:hover {
    text-decoration: underline;
}

.delete-link {
    color: #d9534f;
}