<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <link rel="stylesheet" href="/table.css">

    <title>Heroes</title>
</head>
<body>
<div class="container" th:switch="${heroes}">
    <h1 class="no-heroes" th:case="null">
        No heroes in db
    </h1>

    <div class="heroes-section" th:case="*">
        <div class="header-wrapper">
            <h1 class="heroes-title">Heroes</h1>
            <a href="/addhero" class="button add-hero-button">Add new hero</a>
        </div>

        <table class="heroes-table">
            <thead>
            <tr>
                <th class="table-header">Name</th>
                <th class="table-header">Alignment</th>
                <th class="table-header">Role</th>
                <th class="table-header">Cool</th>
                <th class="table-header" colspan="2">Actions</th>
            </tr>
            </thead>

            <tbody>
            <tr class="hero-row" th:each="hero : ${heroes}">
                <td class="hero-name" th:text="${hero.name}"></td>
                <td class="hero-alignment light-alignment" th:if="${hero.alignment == 1}">
                    Light side
                </td>
                <td class="hero-alignment dark-alignment" th:if="${hero.alignment == 2}">
                    Dark side
                </td>
                <td class="hero-role" th:text="${hero.role}"></td>
                <td class="hero-isCool" th:text="${hero.isCool}"></td>
                <td>
                    <a class="edit-link" th:href="@{/edithero/{id}(id=${hero.id})}">Edit</a>
                </td>
                <td>
                    <a class="delete-link" th:href="@{/delete/{id}(id=${hero.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>
