<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">
    <title>Title</title>
</head>
<body>
    <div th:switch="${heroes}">
    <h2 th:case="null">
        No heroes in db.
    </h2>

    <div th:case="*">
        <h2>Heroes</h2>

        <table>
            <thead>
            <tr>
                <th>
                    Name
                </th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="hero : ${heroes}">
                <td th:text="${hero.name}">
                </td>

                <td>
                    <a th:href="@{/edithero/{id}(id=${hero.id})}">Edit</a>
                </td>

                <td>
                    <a th:href="@{/delete/{id}(id=${hero.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <a href="/addhero">Add new hero</a>
    </div>
</div>
</body>
</html>


